<!doctype html>
html(lang="en")
    include ../includes/head.pug

    body
    
        include ../includes/navbar.pug

        .row.pt-100
            .col-lg-1
            .col-lg-2
                include ../includes/menu.pug     
            .col-lg-8
                block content
            .col-lg-1 
           
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js") 
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js") 
